<div class="center-xs row">
    <div class="col-xs-10 col-md-5 col-lg-3 login-form">
        <div class="center-xs row">
            <h1 class="col-xs-12 title">Registro del API LIS</h1>
            <form [formGroup]="signupForm" class="col-xs-10 form">
                <div class="form-group">
                <input 
                    type="email"
                    id="email"
                    class="form-control text-sm"
                    placeholder="Email"
                    formControlName="email"
                    [formGroup]="signupForm">
                </div>
                <span *ngIf="signupForm.get('email').touched && !signupForm.get('email').valid && signupForm.get('email').dirty">
                    <strong>Por favor ingrese un email válido</strong>                    
                </span>
                <div formGroupName="passwords">
                    <div class="form-group">
                        <input 
                        type="password"
                        id="password"
                        class="form-control text-sm"
                        placeholder="Contraseña"
                        formControlName="password"
                        [formGroup]="signupForm">
                    </div>
                    <div *ngIf="signupForm.get('passwords.password').touched && signupForm.get('passwords.password').dirty">
                        <div class="form-group">
                            <input 
                            type="password"
                            id="repeatPassword"
                            class="form-control text-sm"
                            placeholder="Repita contraseña"
                            formControlName="repeatPassword"
                            [formGroup]="signupForm">
                        </div>
                        <span *ngIf="signupForm.get('passwords.repeatPassword').touched && signupForm.get('passwords.repeatPassword').dirty && signupForm.get('passwords.repeatPassword').errors['matchPasswords']">
                            <strong>Las contraseñas no coinciden</strong>
                        </span>
                    </div>                    
                </div>
                <button 
                    class="text-sm button"
                    type="submit"
                    [disabled]="signupForm.invalid">
                    Registrarse 
                </button>
            </form>
        </div>
    </div>
</div>