<footer name="footer" class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h5 class="white-text">Developed by:</h5>
                <li>Juan Fernando Giraldo</li>                                                            
                <li>Santiago Cadavid Bustamante</li>                    
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            ©© 2017 Hippie Team
        </div>
    </div>
</footer>
