<div class="col-md-8 col-md-offset-2">
  <h1>Publicar</h1>
  <form [formGroup]="publicateForm" (ngSubmit)="onPublicate()">
    <div class="form-group">
        <input
          type="text"
          id= "productName"
          class="form-control"          
          placeholder="Nombre del producto" 
          formControlName="productName">
    </div>
    <div class="form-group">      
      <select class="form-control" formControlName="type" id="type">
          <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>        
    </div>
    <div class="form-group">
        <input 
          type="text"
          id="description"
          class="form-control"
          placeholder="Descripción del producto" 
          formControlName="description">
    </div>
    <div class="form-group">
      <label for="file">Elige una imagen</label>
      <input 
        type="file"
        id="image"
        class="form-control"
        formControlName="image"
        (change)="handleFileInput($event.target.files)">
    </div>
    <button 
      class="btn btn-primary" 
      type="submit">
      Publicar</button> 
  </form>
</div>
