<h1>http 2.0</h1>
<!--<mat-card *ngFor = "let data of (myData ? myData.slice(0,60): []); let i = index">
  <mat-card-header>    
    <mat-card-title>
      <h2>{{data.productName}}</h2>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{api + data.image.path }}">
  <label>{{data.image.path}}</label>
  <br>
</mat-card>
 <mat-card>
  <img mat-card-image src="{{api}}pesadota.jpg">
  <img mat-card-image src="{{api}}pesadita.jpg">
  <img mat-card-image src="{{api}}mediana.jpg">
</mat-card>-->
  
<mat-card>
  <img mat-card-image src="{{api}}pesadota.jpg">
  <img mat-card-image src="{{api}}pesadota1.jpg">
  <img mat-card-image src="{{api}}pesadota2.jpg">
  <img mat-card-image src="{{api}}pesadota3.jpg">
  <img mat-card-image src="{{api}}pesadota4.jpg">
  <img mat-card-image src="{{api}}pesadota5.jpg">
  <img mat-card-image src="{{api}}pesadota6.jpg">
  <img mat-card-image src="{{api}}pesadota7.jpg">
  <img mat-card-image src="{{api}}pesadota8.jpg">
  <img mat-card-image src="{{api}}pesadota9.jpg">
  <img mat-card-image src="{{api}}pesadota10.jpg">
 </mat-card>