<div class="" align="left">
  <h3>Publicar</h3>
  <form method="post" enctype="multipart/form-data" ng-submit="crearPublicacion()">
    <div class="row">
      <div class="col-sm-3">
        <input type="text" ng-model="publicacion.nombre_producto" placeholder="Nombre del producto" name="nombre" required="" />
      </div>
    </div>
    <div class="row">
      <div class="input-field col-sm-3">
        <select ng-model="publicacion.categoria" >
        <option value="" disabled selected>Elige una categoría</option>
        <option value="Masculino">Ropa y Accesosrios</option>
        <option value="Femenino">Deportes</option>
        <option value="Indefinido">Hogar</option>
        <option value="Indefinido">Tecnología</option>
        <option value="Indefinido">Libros</option>
        <option value="Indefinido">Otros</option>
      </select>
        <label>Categoría</label>
      </div>
    </div>
    <!--
    <div class="row">
      <input type="file" uploader-model="publicacion.imagen" name="imagen">
    </div>
  -->
  <input type="file" (change)="onFileSelected($event)">
    <div class="row">
      <div class="col-sm-3">
        <input type="text" ng-model="publicacion.descripcion" placeholder="Descripción del producto" name="Descripcion" required="" />
      </div>
    </div>
    <button class="btn btn-primary" type="submit" name="action" value="Publicar" (click)="onPublicate()">Publicar</button>
        <div class="row">

        </div>
  </form>
</div>

